/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Luis Isaacs
   Date:   
   
   Filename: cw_styles.css

*/

@charset "UTF-8";
@import url('cw_layout.css');


/* Structural Styles */

html {
   background-color: rgb(151, 151, 151);
}


/* Body Header Styles */

body{
   background-color: rgb(180, 180, 223);
   font-family: Verdana, Geneva, sans-serif;
}

body > header{
   background-color:rgb(97, 97, 211) ;
}

body > header > h1 {
   font-size: 4vw;
   color: rgba(255, 255, 255, 0.8);
   font-family: 'Limelight', cursive;
   margin: 0;
 }
 
 body > header > h1 span{
   color: rgba(255, 255, 255, 0.4);
 }



h1,
h2{
   font-weight: normal;
}


/* Navigation Styles */

nav a{
   text-decoration: none;
}

#mainLinks > ul > li > a{
   padding-top: 5px;
   padding-bottom: 5px;
 }

 nav>ul>li>a:link,
 nav>ul>li>a:visited {
    color: white;
    text-decoration: none;
 
 }
 
 nav>ul>li>a:hover,
 nav>ul>li>a:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.5);
 
 }

/* Outline Styles */


#outline > ol > li > a,
#outline > ol > li > ol > li >a
{
   color: rgb(51, 51, 51);
   font-size: 0.8em;
}

#outline h1{
   text-align: center;
}

#outline > ol {
   line-height: 2em;
   margin: 0 5px;
   list-style-type: upper-roman;
}

#outline > ol > li > ol {
   list-style-type: upper-alpha;
 }

 #outline a {
   color: rgb(101, 101, 101);
 }
 
 #outline a:hover, #outline a:active {
   color: rgb(97, 97, 211);
   text-decoration: underline;
 }
 
 
/* Section Styles */

section{
   background-color: rgb(220, 220, 220);
}

section header h1{
   font-size: 2.2em;
   padding-left: 10px;
}



/* Article Styles */

article h2{
   font-size: 1.4em;
   
}

article p:first-of-type::first-letter {
   font-size: 2em;
   vertical-align: baseline;
 }
 
/* Aside Styles */

aside{
   font-size: 0.9em;
}

aside h1{
   font-size: 1.4em;
}

/* Footer */

footer{
   background-color: rgb(101, 101, 101);
   font-size: 0.8em;
   text-align: center;
   padding: 1px;
}